* {
margin:0;padding: 0 ;
 box-sizing:border-box;
font-family:Poppins, "Segoe UI",Tahoma,sans-serif
}
/*ayolahhhhhh masa ai ai ai mulu, gapake lo*/
body{
background:linear-gradient(0deg,#6b579f 1%,#000 99%);
color:#fff;
min-height:100vh;
 display:flex;
flex-direction: column
}

.header{
display:flex;gap:12px;
 align-items:center;
justify-content:center;
 text-align:center;
padding:27px 9px 13px
}

.header .logo{width:51px;height:auto}
/*woiii ayolah gerak gerak gerak*/
.header h1{
font-size:1.8rem;
font-weight:600;background:linear-gradient(90deg,#ff0000,#ff7300,#fffb21,#33ff00,#00ccff,#0004ff,#c300ff,#ff006a);
background-clip:text;-webkit-background-clip:text;
color:transparent;
 -webkit-text-fill-color:transparent;
animation: muterHue 8.3s linear infinite
}

@keyframes muterHue{
0%{filter:hue-rotate(0deg)}
100%{filter:hue-rotate(360deg)}
}

.pembukaelin{
 text-align:center;
 font-size: 1rem;
 color:#e6e9ff;
margin-bottom:25px
}
/*mole yuk, w roam aja pake uranus */
.gridelin{
width:90%;
margin:0 auto 40px;
 display:grid;
 gap:25px;
grid-template-columns:repeat(auto-fit,minmax(271px,1fr))
}

.albumelin, .fotoelin{
 text-align:center;
 background:rgba(0,0,0,.15);
border-radius:13px;
transition:all .26s ease
}
/*mau makan sushi sushi sushi yuhuy*/
.albumelin{
padding:15px
}

.albumelin:hover{
 transform:translateY(-6px);
box-shadow:0 6px 13px rgba(255,0,210,.39)
}
/*main pubg yuk, dah lama kagak chicken dinner yuhuy*/
.albumelin img, .fotoelin img{
display:block;
margin:0 auto 12px;
width:100%;
aspect-ratio:1/1;
object-fit:cover;
border-radius:8px;
max-height:317px
}

.albumelin h2, .fotoelin h2{
 color:#ff66df;
margin:6px 0
}
/*jungwon ganteng battttttttt*/
.albumelin p,.fotoelin p{
 color:#dbeafe;
font-size:1rem;
margin-bottom:10px
}

.fotoelin{
 max-width:388px;
 width:59%;
 margin:0 auto 49px;
padding:24px 14px
}
/*enhypen enypen enhypennnn*/
.fotoelin img{
width:277px;
 border-radius:10px;
margin-bottom:15px
}

audio{width:100%;
height:30px;outline:none}

footer{
text-align:center;
margin-top:auto;
font-size:.95rem;
padding:17px 12px;
background:rgba(255,255,255,.06);
border-top:1px solid rgba(255,255,255,.1);
 color:#d1d5db
}
/*BAD DESIREEEEEEEEEEEE*/
@media (max-width:768px){
 .header h1{font-size:1.39rem}
 .fotoelin{width:91%}
 .fotoelin img{width:222px}
}
